.tutorial-step {
  border: 1px solid $gray-dark;
  position: relative;
  flex-basis: 100%;
  border-radius: 4px;
  .prog-img {
    max-width: 325px;
    a:not(.modal-close) {
      cursor: zoom-in;
    }
  }
  .step-inner {
    margin: 20px 20px 20px 60px;
    @include large {
      margin: 20px;
    }
  }
  @include large {
    flex-basis: 265px;
    &.flex-full {
      flex-basis: 100%;
    }
    &.odd {
      margin-right: 20px;
    }
    &:last-of-type {
      margin-right: 0;
    }
  }
  > h2 {
    position: absolute;
    background: $gray-dark;
    margin: 0 20px;
    left: -12px;
    top: 20px;
    border-radius: 25px;
    padding: 0 10px;
    color: $white;
    border-bottom: none;
    span {
      display: none;
      border-bottom: none;
      @include large {
        display: inline;
      }
    }
    @include large {
      position: initial;
      padding: 0;
      left: inherit;
      top: inherit;
      &::after {
        content: '';
        position: absolute;
        background: $gray-dark;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        height: 41px;
      }
    }
  }
}

[id="block-tutorialoslayoutblock"] {
  margin-bottom: 20px;
}

.tutorial-layout {
  dl {
    display: none;
    margin: 0;
    @include large {
      display: inline-flex;
      float: right;
    }
  }
  dd {
    cursor: pointer;
    margin: 0 5px;
    &.active use,
    &.active:hover use {
      fill: $blue;
    }
  }
}

.tut-modal-window {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s;
  &:target {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
  }
  & > div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  @include large {
    width: 100%;
    padding: 2em;
  }
  img {
    max-width: 90vw;
    max-height: 90vh;
    margin: 0 auto;
  }
}

.header {
  width: 100vw;
  min-height: 61px;
  color: $white;
  margin: 0 auto;
  span {
    font-size: 1.2em;
    max-width: 70%;
    display: block;
    text-align: center;
    margin-left: 15%;
    line-height: 1.1em;
  }
  .modal-close {
    position: absolute;
    top: 0;
    right: 10%;
  }
  @include large {
    width: max-content;
    span {
      font-size: 1.8em;
      width: 100%;
    }
    .modal-close {
      right: 10px;
    }
  }
}
