/* Link */
$color-link: $gray-darker;
$color-link--hover: $gray-light;

@mixin link(
  $color: $blue,
  $colorActive: $blue-active
) {
  color: $color;
  text-decoration: none;

  &:hover {
    color: $colorActive;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 4px;
  }
}

// Offset links without href
.main-content a:not([href]) {
  display: block;
  position: relative;
  top: -260px;
  visibility: hidden;
}

.link {
  @include link;
}

a {
  @include link;

  svg.mailto,
  svg.ext {
    margin-left: 3px;
    .main & path {
      stroke: $blue;
    }
  }
}

.gray-links a,
a.gray-links{
  @include link($gray-dark, $gray);
}

.dark a {
  @include link($gold, $white);
}

h1, h2, h3, h4, h5, h6 {
  width: max-content;
  a[href] {
    @include link($gray-dark, $blue-active);

    text-decoration: underline;
    text-decoration-color: $blue-active;
    text-decoration-thickness: .2em;
    text-underline-offset: .44em;
    text-decoration-style: inherit;
    &::after {
      @include arrow-right();

      transition: all 300ms;
      filter: brightness(0);
      margin-left: 8px;
    }
    &:hover {
      text-decoration: underline;
      text-decoration-thickness: .2em;
      text-underline-offset: .44em;
      text-decoration-style: inherit;
      &::after {
        filter: brightness(0.6) sepia(1) hue-rotate(190deg) saturate(6);
        margin-left: 12px;
      }
    }
  }
}

[id='block-oitheaderlink'] {
  a {
    color: $black;
    text-decoration: none;
    font: 1em/1 "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
    @include small {
      font-size: 1.7em;
    }
  }
}

.menu-anchor {
  display: inline;
  color: $black;
  text-decoration: none;
  font-size: 1em;
  svg {
    display: inline;
    width: 20px;
    height: 20px;
  }
  line {
    transition: all .4s;
    stroke: $black;
    stroke-width: 5px;
    @include reduced-motion {
      transition: none;
    }
  }
  &:hover {
    color: $black;
    text-decoration: none;
    opacity: 0.6;
    .hm-middle {
      transform: scaleX(.6);
      @include reduced-motion {
        transform: scaleX(1);
      }
    }
    .hm-bottom {
      transform: scaleX(.3);
      @include reduced-motion {
        transform: scaleX(1);
      }
    }
  }
  @include small {
    font-size: 1.7em;
  }
}

.oda-right-ext {
  padding-right: 1.8em;
  background: url(../images/icons/oda_external.svg) top right no-repeat;
}
