html {
  box-sizing: border-box;
}

body {
  background-color: clr(background);
  color: clr(text);

  @include body-copy;
}

.margin-center {
  margin: 0 auto;
}

.ml-auto {
  margin-left: auto !important;
}

.mr-auto {
  margin-right: auto !important;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.main {
  @include wrapper;

  display: block; /* Fix for IE weirdness */

  .pull-left {
    @include large {
      margin-left: -8vw;
    }
  }

  .pull-right {
    @include large {
      margin-right: -8vw;
    }
  }

  .pull-both {
    @include large {
      margin-left: -8vw;
      margin-right: -8vw;
    }
  }
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
  word-wrap: normal;
}

.inline {
  display: inline;
}

.clear-both {
  clear: both;
}

.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

