.mm-navbar__title > span {
  color: $white;
}

.mm-listview {
  a {
    font-size: 1.2em;
    font-weight: 600;
    &:hover, &.is-active {
      background: $gray;
    }
  }
}

.mm-panel > ul {
  padding-bottom: 60px;
}
