.tooltip {
  position: relative;
  &::before {
    display: none;
    content: attr(data-tooltip);
    position: absolute;
    bottom: 25px;
    width:200px;
    padding:10px;
    border-radius:10px;
    background: $gray-darker;
    color: #fff;
    text-align:center;
  }
  &:hover::before {
    display:block;
  }
}
