{#
/**
 * This is strictly an exmaple file to demonstrate markup in Storybook.
 * It is not intended to be included in any other component.
 */
#}

<div class="flex-horizontal">
  <div class="flex-horizontal-item"><a href="/node/237">[svg name=email width=60 color=f3f3f3][/svg] <span class="flex-horizontal-item--title">Messaging &amp; Collaboration</span> <span class="flex-horizontal-item--desc">Google Suite, Office 365, Email Lists...</span> </a></div>

  <div class="flex-horizontal-item"><a href="/node/241">[svg name=presentation width=60 color=f3f3f3][/svg]<span class="flex-horizontal-item--title">Teaching &amp; Learning Application</span>Canvas, Buff Portal, Qualtrics... </a></div>

  <div class="flex-horizontal-item"><a href="/node/239">[svg name=laptop width=60 color=f3f3f3][/svg] <span class="flex-horizontal-item--title">Learning Spaces Technology</span> <span class="flex-horizontal-item--desc">Computing Labs, i&gt;clicker, Distance Learning...</span> </a></div>

  <div class="flex-horizontal-item"><a href="/node/248">[svg name=radiowaves width=60 color=f3f3f3][/svg]<span class="flex-horizontal-item--title">Networking &amp; Internet Services</span> <span class="flex-horizontal-item--desc">1Gb Wired, WIFI, VPN, eduroam...</span> </a></div>
</div>

