.domain-oda {

  .oda_menu,
  .layout__region--right-sidebar nav {
    display: none;
  }

  @include large {
    [id="block-pup-menuanchorlink"] {
      display: none;
    }

    [id="block-pup-searchform"], [id="block-searchform"] {
      justify-self: end;
      grid-column: 4;
    }
    .oda_menu {
      display: grid;
    }

    .layout__region--right-sidebar nav {
      display: block;
    }
  }

  .oda_menu__inner {
    grid-column: 2 / 5;

    nav > ul {
      display: flex;
      list-style: none;
      padding: 0;
      margin: 13px 0;
      border-top: 1px solid $gray-lighter;
      border-bottom: 1px solid $gray-lighter;

      li {
        a {
          display: block;
          font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
          color: $gray-darker;
          text-decoration: none;
          padding: .8em 1.2em;
          border-top: 4px solid $white;
          border-bottom: 4px solid $white;
          &:hover {
            border-bottom: 4px solid $gray-light;
          }
        }
      }

      li:first-child {
        a {
          height: 50px;
          width: 20px;
          background-image: url(../images/icons/home.svg);
          font-size: 0;
          background-repeat: no-repeat;
          background-size: contain;
          display: block;
          background-position: center 13px;
        }
      }

    }
  }



}
