.form-item--checkboxes,
.form-item--checkbox__item {
  @include list-reset;
}

.form-checkbox + label {
  display: inline;
}

.block-facet--checkbox {
  h2 {
    font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
    border: none;
    font-size: 1.2rem;
    font-weight: normal;
    text-transform: uppercase;

    span {
      border: none;
    }
  }
}

.facets-checkbox {
  margin-right: 0.3em;
}
