{#
/**
 * This is strictly an exmaple file to demonstrate markup in Storybook.
 * It is not intended to be included in any other component.
 */
#}
<ul>
  <li> <svg height="10" width="10" class="service_health sa-0"><circle cx="5" cy="5" r="4" stroke="black" stroke-width="1" /></svg> </li>
  <li> <svg height="10" width="10" class="service_health sa-1"><circle cx="5" cy="5" r="4" stroke="black" stroke-width="1" /></svg> </li>
  <li> <svg height="10" width="10" class="service_health sa-2"><circle cx="5" cy="5" r="4" stroke="black" stroke-width="1" /></svg> </li>
</ul>
