/* A */
.main-menu__link {
  color: clr(accent);
  display: block;
  font-size: 1.2rem;
  line-height: 1.5;
  padding: $space $space-triple $space $space-double;
  text-decoration: none;
  font-weight: bold;

  &--with-sub {
    width: 80%;
  }

  @include medium {
    border-bottom: none;
    display: inline-block;
    font-size: 1.1rem;
    padding: $space;
    text-transform: none;
    position: relative;
    width: auto;

    &.active,
    &:active,
    &:hover {
      color: clr(highlight-high);
    }

    &--sub::after {
      display: none;
    }

    &:hover {
      color: clr(background);

      &::after {
        color: clr(highlight);
      }
    }
  }
}

/*
 * Sub Navigation Links
 */

/* A (Nested) */
.main-menu__link--sub {
  color: clr(accent);
  padding-left: $space-triple;
  font-weight: normal;

  @include medium {
    color: clr(highlight);
    display: block;
    padding: $space-one-third $space;
  }
}

.main-menu--sub-2 {
  background-color: clr(highlight-high);
}

.main-menu__link--sub-2 {
  padding-left: $space-quadruple;
}

.layout__region--right-sidebar nav,
.main-sidebar .directchildmenu {
  h2 {
    font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    text-align: center;
    color: $gray-dark;
    border-bottom: none;
    :before {
      content: '';
      display: inline-block;
      height: 20px;
      width: 20px;
      background-image: url('../images/icons/oda_secondary_menu.svg');
      background-repeat: no-repeat;
      background-size: contain;
      margin-bottom: -2px;
      margin-right: 10px;
    }
    span {
      border-bottom: none;
    }
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      width: -webkit-fill-available;
      &:hover {
        background-color: inherit;
      }
      a {
        display: block;
        position: relative;
        font-size: 1em;
        font-weight: normal;
        font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
        color: $blue;
        text-decoration: none;
        padding: 1em;
        border-bottom: 1px solid $gray-lighter;
        &:hover {
          color: $blue-active;
        }

        &.is-active {
          color: $blue-active;
        }
      }
    }

    ul {
      display: none;
    }

    li li a {
      padding-left: 2em;
    }
    li li li a {
      padding-left: 3em;
    }
    li li li li a {
      padding-left: 4em;
    }
  }
}
