{#
/**
 * This is strictly an exmaple file to demonstrate markup in Storybook.
 * It is not intended to be included in any other component.
 */
#}
<details>
  <summary>Happy Text</summary>
  <p>Be careful. You can always add more - but you can't take it away. These things happen automatically. All you have to do is just let them happen. I'm sort of a softy, I couldn't shoot Bambi except with a camera. Let's get crazy. Use absolutely no pressure. Just like an angel's wing.</p>
  <p>You don't have to be crazy to do this but it does help. And right there you got an almighty cloud. It's life. It's interesting. It's fun. Use your imagination, let it go. La- da- da- da- dah. Just be happy.</p>
  <p>Working it up and down, back and forth. Every time you practice, you learn more. Mix your color marbly don't mix it dead.</p>
  <p>All kinds of happy little splashes. This is gonna be a happy little seascape. Let's build an almighty mountain. It is a lot of fun. The shadows are just like the highlights, but we're going in the opposite direction. Just beat the devil out of it.</p>
  <p>Paint anything you want on the canvas. Create your own world. That easy. I'm gonna start with a little Alizarin crimson and a touch of Prussian blue Let all these little things happen. Don't fight them. Learn to use them. All those little son of a guns. If there's two big trees invariably sooner or later there's gonna be a little tree.</p>
</details>
<details>
  <summary>Go back in time...</summary>
  <p>Marty, such a nice name. Nothing's coming to my mind. George, there's nothing to be scared of. All it takes is a little self confidence. You know, if you put your mind to it, you could accomplish anything. Yeah, well history is gonna change. Look, there's a rhythmic ceremonial ritual coming up.</p>
  <p>You know what I do in those situations? Chuck, Chuck, its' your cousin. Your cousin Marvin Berry, you know that new sound you're lookin for, well listen to this. Excuse me. Yeah, alright, bye-bye. What? He's a peeping tom. Dad.</p>
  <p>Marty, this may seem a little foreward, but I was wondering if you would ask me to the Enchantment Under The Sea Dance on Saturday. Wait a minute, what are you doing, Doc? Okay, but I don't know what to say. Check out that four by four. That is hot. Someday, Jennifer, someday. Wouldn't it be great to take that truck up to the lake. Throw a couple of sleeping bags in the back. Lie out under the stars. Nothing, nothing, nothing, look tell her destiny has brought you together, tell her that she's the most beautiful you have ever seen. Girls like that stuff. What, what are you doing George?</p>
</details>
<details>
  <summary>Meow</summary>
  <p>Climb a tree, wait for a fireman jump to fireman then scratch his face cat slap dog in face but where is my slave? I'm getting hungry. Scratch at the door then walk away adventure always claw at curtains stretch and yawn nibble on tuna ignore human bite human hand try to hold own back foot to clean it but foot reflexively kicks you in face, go into a rage and bite own foot, hard prance along on top of the garden fence, annoy the neighbor's dog and make it bark make muffins toy mouse squeak roll over. Find empty spot in cupboard and sleep all day human give me attention meow so i want to go outside let me go outside nevermind inside is better or throwup on your pillow, or claw drapes, so eat owner's food. Mew mouse yet making bread on the bathrobe is good you understand your place in my world or sit in box but snuggles up to shoulders or knees and purrs you to sleep good now the other hand, too. Under the bed ask to be pet then attack owners hand so cat is love, cat is life and attack the child let me in let me out let me in let me out let me in let me out who broke this door anyway leave fur on owners clothes. </p>
  <p>Purr when being pet crash against wall but walk away like nothing happened and kitty poochy meow to be let in loved it, hated it, loved it, hated it mrow. Cough furball into food bowl then scratch owner for a new one. Stand in front of the computer screen meow meow we are 3 small kittens sleeping most of our time, we are around 15 weeks old i think.</p>
  <p>Bite plants. Attack feet sit in box. Lie on your belly and purr when you are asleep throwup on your pillow, or i like cats because they are fat and fluffy meow loudly just to annoy owners or what the heck just happened.</p>
</details>
<details>
  <summary>Bite my shiny behind</summary>
  <p>What kind of a father would I be if I said no? Interesting. No, wait, the other thing: tedious. You're going back for the Countess, aren't you? Bender, hurry! This fuel's expensive! Also, we're dying! I decline the title of Iron Cook and accept the lesser title of Zinc Saucier, which I just made up. Uhh… also, comes with double prize money</p>
  <p>Professor, make a woman out of me. Yes, I saw. You were doing well, until everyone died. And from now on you're all named Bender Jr. I don't know what you did, Fry, but once again, you screwed up! Now all the planets are gonna start cracking wise about our mamas.</p>
  <p>Now, now. Perfectly symmetrical violence never solved anything. Bender, this is Fry's decision… and he made it wrong. So it's time for us to interfere in his life. Shinier than yours, meatbag. Humans dating robots is sick. You people wonder why I'm still single? It's 'cause all the fine robot sisters are dating humans!</p>
</details>
