.views-element-container:has(.views-field-field-news-front-image) {
  position: relative;
}

.block--views_block-news-block_3 .views-row {
  position: relative;
}

.news-banner {
  position: relative;
  max-width: max-content;

  @include medium {
    img {
      position: relative;
      z-index: -2;
    }
  }
  &--banner {
    display: block;
    border-bottom: 1px solid $gray-lighter;
    @include medium {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }

    &:after {
      @include medium {
        content: "";
        background-image: linear-gradient(180deg, rgba(255,255,255, 0), rgba(0, 0, 0, 0.8) 70%);
        position: absolute;
        top: 30%;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1;
      }

      @include large {
        top: 12%;
      }

      @include xl {
        top: 40%;
      }
    }

    h2 {
      padding: 1em 0 0 0;

      @include medium {
        padding: 80px 25px 0 25px;
      }
    }

    &-all{
      width: max-content;
      margin-top: 10px;
      @include medium {
        position: absolute;
        right: 10px;
        bottom: 25px;
        margin-top: 0;
        z-index: 10;
      }
      a {
        text-transform: uppercase;
        color: $gray-dark;
        @include medium {
          color: $white;
        }
        &::after {
          @include arrow-right();

          background-size: 10px 15px;
          width: 14px;
        }
      }
    }
    &-created,
    &-title {
      display: block;
      font-size: 2.2em;
      line-height: 1.4em;
      color: $gray-dark;
      width: 100%;
      @include large {
        color: $white;
      }
    }
    &-created {
      font-size: .9em;
      @include medium {
        position: absolute;
        bottom: 0;
        right: 5px;
        left: 25px;
        width: 90%;
        font-weight: 100;
        color: $gray-lightest;
      }
    }
  }
  a:hover span {
    color: $gray-dark;
    @include medium {
      color: $gray-lightest;
    }
  }
}

h2.news-banner--banner-title {
  border: none;
  font-size: 1rem;
  font-weight: normal;
  @include medium {
    width: 90%;
  }
  a {
    display: block;
    text-decoration: none;
    font-size: 2.2em;
    line-height: 1em;
    color: $gray-dark;
    width: 100%;
    @include medium {
      padding-top: 25%;
      color: $white;
      display: -webkit-box;
      overflow-y: hidden;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      text-overflow: ellipsis;
    }
    @include large {
      padding-top: 13%;
    }
    @include xl {
      padding-top: 26%;
    }
    &:hover {
      text-decoration: none;
      color: $gray;
      @include medium {
        color: $gray-lightest;
      }
    }
    &:after {
      @include medium {
        background: none;
        content: "";
        inset: 0;
        pointer-events: auto;
        position: absolute;
        z-index: 10;
        transform: none;
      }
    }
  }
}

[id="top-news-items"],
.block--views_block-news-block_1 {
  .row-wrapper {
    @include flex;
    margin: 0;

    border-bottom: 1px solid $gray-lighter;
  }
}

.news-item {
  @include flex-item(25%, 180px);

  margin: 22px 0;
  padding-right: 5px;
}
