{#
/**
 * This is strictly an exmaple file to demonstrate markup in Storybook.
 * It is not intended to be included in any other component.
 */
#}

<div class="news-banner">
  <a href="#">
    <img src="https://picsum.photos/800/400" alt="Picsum" typeof="Image">
    <span class="news-banner--banner">
      <span class="news-banner--banner-title">Important News straight to your eye-holes Important News straight to your eye-holes</span>
      <span class="news-banner--banner-created">June 10, 2020</span>
    </span>
  </a>
</div>
