[id="block-views-block-news-block-1"] {
  margin-top: 5px;
}

.news-item {
  border-right: 1px solid $gray-lighter;
  &:last-child {
    border: none;
  }

  &:nth-child(1) {
    >a, >span {
      margin-right: 0.5em
    }
  }
  &:nth-child(2) {
    >a, >span {
      margin:0 0.5em
    }
  }
  &:nth-child(3) {
    >a, >span {
      margin-left: 0.5em
    }
  }

  a, span {
    display: block;
  }
  &--title {
    font-weight: 600;
    line-height: 1.2em;
    min-height: 45px;
  }
}
