/*
 * General Layout
*/

$sidebar-width: 33%;
$gutter: $space;
$main-width: calc(100% - (#{$sidebar-width} + #{$gutter}));
@mixin section-gray($gray-shade: $near-white) {
  position: relative;
  padding: 5px 0;
  &::after {
    @include after-bg(-5px, -5px, $gray-shade);
  }
}
@mixin updatebox($gray-shade: $near-white) {
  background-color: $gray-shade;
  padding: 10px;
  margin: 10px;
}
.mm-menu {
  z-index: 1;
}
.mm-page {
  z-index: 1;
}

// Allows the gray overflow to span the browser width.
.layout-container {
  overflow-x: hidden;
}

.section-gray {
  @include section-gray;
}

.section-gray-darker {
  @include section-gray($gray-darker);

  color: $white;
}

.updatebox {
  @include updatebox;
}

.ui-widget.ui-widget-content {
  // Only way to overwrite this is !important
  //  Shame 🔔🔔 Shame 🔔🔔 Shame 🔔🔔 Shame 🔔🔔
  width: 80% !important;
  left: 10% !important;
}

[id="block-pageoverviewblock"] {
  margin-bottom: 40px;
  margin-top: -25px;
  padding-bottom: 18px;
  .page-node-type-tutorial & {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .software-extra {
    margin-bottom: -25px;
    color: #666;
    font-weight: 600;
    .flex-one-third div {
      width: max-content;
    }
    @include medium {
      .m-auto {
        margin: auto;
      }
      .ml-auto {
        margin-left: auto;
      }
    }
  }
}

[id="block-pageoverviewblock"],
[id="block-tutorialoslayoutblock"] {
  position: relative;
  .flex-one-half {
    flex-basis: 250px;
    margin: 0;
  }
  .page-node-type-news &::after {
    display: none;
  }
}

.tut-layout-block {
  margin-top: -20px;
}

/*
 * Layout Using CSS Grid (NO IE11 support)
 * Remove Flexbox code above and uncomment this section to use CSS Grid.
*/

.main {
  @include wrapper;

  display: grid;
  display: -ms-grid;
  grid-gap: $gutter;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns:repeat( 16, 1fr );
  margin-top: 10px;
  margin-bottom: 4em;
}

.node {
  footer {
    margin-bottom: 5px;
  }
}

.title-section {
  grid-area: title;
  grid-column: 1 / 17;
  grid-row: 1;
  & .h1::after {
    top: -10px;
  }
  @include large {
  grid-column: 4 / 14;
  }
}

.sidebar-left {
  z-index: 0;
  transition: margin-top .25s;
  grid-area: sidebar-left;
  margin-bottom: $space-double;
  grid-column: 1 / 17;
  grid-row: 2;
  // todo: Not sure where this is showing up from. Fix later maybe.
  nav .toggle-expand {
    display: none;
  }
  nav .main-nav {
    display: block;
  }
  @include large {
    grid-column: 1 / 4;
    grid-row: 3;
  }
}

.main-sidebar {
  z-index: 0;
  transition: margin-top .25s;
  grid-area: sidebar;
  margin-bottom: $space-double;
  -ms-grid-column: 1;
  -ms-grid-column-span: 16;
  grid-column: 1 / 17;
  -ms-grid-row: 4;
  grid-row: 4;
  // todo: Not sure where this is showing up from. Fix later maybe.
  nav .toggle-expand {
    display: none;
  }
  nav .main-nav {
    display: block;
  }
  @include large {
    -ms-grid-column: 14;
    -ms-grid-column-span: 3;
    grid-column: 14 / 17;
    -ms-grid-row: 3;
    grid-row: 3;
  }
  header {
    margin-bottom: 2em;
    .page-node-type-news & {
      margin-bottom: 0;
    }
  }
  .row-wrapper > div {
    padding: 10px 0;

    &:not(:first-child) {
      border-top: 1px solid $gray-lightest;
    }
  }
  > div > div {
    background: $white;
    border: 1px solid $gray-lightest;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 25px;
    &.border-none {
      border: none;
    }
    &.background-none {
      background: none;
    }
  }
  [id="block-sympanewssubscription-2"] {
    border: none;
    padding: 0;
    border-radius: 0;
    a {
      display: block;
    }
  }
  footer {
    border-top: 1px solid $gray-lightest;
    padding: 10px 0;
  }
}

.breadcrumb-section {
  -ms-grid-column: 4;
  -ms-grid-column-span: 9;
  grid-column: 4 / 14;
  -ms-grid-row: 2;
  grid-row: 2;
}

.main-content {
  min-height: 46vh;
  -ms-grid-column: 1;
  -ms-grid-column-span: 16;
  grid-column: 1 / 17;
  -ms-grid-row: 2;
  grid-row: 3;
  @include large {
    -ms-grid-column: 4;
    -ms-grid-column-span: 9;
    grid-column: 4 / 14;
    -ms-grid-row: 2;
    grid-row: 3;
  }
  .page-node-type-page &,
  .page-node-type-tutorial & {
    .flex {
      margin-top: 25px;
    }
  }
  .phish-indicator {
    margin-bottom: -12px;
  }
  &:has(.layout--twocol-section, .layout--threecol-section, .layout--fourcol-section, .dingo-layout) {
    grid-column: 1 / 17;
  }
}

.layout-wrap:has(.layout--twocol-section, .layout--threecol-section, .layout--fourcol-section, .dingo-layout) {
  .layout--onecol {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-gap: 1rem;
    .layout__region {
      grid-column: 1 / 17;
      @include large {
        grid-column: 4 / 14;
      }
    }
  }
}

.path-request-portal {
  .main-content {
    @include large {
      -ms-grid-column: 1;
      -ms-grid-column-span: 16;
      grid-column: 1 / 17;
      -ms-grid-row: 1;
      grid-row: 1;
    }
  }
}

.path-frontpage:not(.domain-oda) {
  .main {
    display: block;
  }
  .main-content > div {
    display: grid;
    display: -ms-grid;
    grid-gap: 10px 0;
    //grid-template-columns: 1fr;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns:repeat( 16, minmax(20px, 1fr) );
  }
  [role="contentinfo"] {
    -ms-grid-column: 1;
    -ms-grid-column-span: 11;
    grid-column: 1 / 17;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  [id="block-views-block-news-block-3"] {
    -ms-grid-column: 1;
    -ms-grid-column-span: 16;
    grid-column: 1 / 17;
    -ms-grid-row: 2;
    grid-row: 2;
    @include large {
      -ms-grid-column: 1 / 12;
      -ms-grid-column-span: 11;
      grid-column: 1 / 12;
      -ms-grid-row: 2;
      grid-row: 2;
    }
  }
  [id="block-views-block-news-block-1"] {
    -ms-grid-column: 1;
    -ms-grid-column-span: 16;
    grid-column: 1 / 17;
    -ms-grid-row: 3;
    grid-row: 3;
    @include large {
      -ms-grid-column: 1 / 12;
      -ms-grid-column-span: 11;
      grid-column: 1 / 12;
      -ms-grid-row: 3;
      grid-row: 3;
    }
  }
  [id="block-frontactionlinks"] {
    -ms-grid-column: 1;
    -ms-grid-column-span: 16;
    grid-column: 1 / 17;
    -ms-grid-row: 4;
    grid-row: 4;
    @include large {
      -ms-grid-column: 13;
      -ms-grid-column-span: 4;
      grid-column: 13 / 17;
      -ms-grid-row: 2;
      -ms-grid-row-span: 2;
      grid-row: 2 / 4;
    }
  }
  [id="block-servicehealthfrontpageblock"] {
    -ms-grid-column: 1;
    -ms-grid-column-span: 16;
    grid-column: 1 / 17;
    -ms-grid-row: 6;
    grid-row: 6;
    border-bottom: 1px solid $gray-lighter;
    @include small {
      -ms-grid-column: 1;
      -ms-grid-column-span: 7;
      grid-column: 1 / 8;
    }
    @include large {
      -ms-grid-column: 1;
      -ms-grid-column-span: 4;
      grid-column: 1 / 5;
      -ms-grid-row: 5;
      grid-row: 5;
    }
  }
  [id="block-dingo-views-block-top-pages-blocks-block-1"] {
    -ms-grid-column: 1;
    -ms-grid-column-span: 16;
    grid-column: 1 / 17;
    -ms-grid-row: 8;
    grid-row: 8;
    border-bottom: 1px solid $gray-lighter;
    @include small {
      -ms-grid-column: 10;
      -ms-grid-column-span: 6;
      grid-column: 10 / 17;
      -ms-grid-row: 6;
      grid-row: 6;
    }
    @include large {
      -ms-grid-column: 13;
      -ms-grid-column-span: 4;
      grid-column: 13 / 17;
      -ms-grid-row: 5;
      grid-row: 5;
    }
    header {
      margin-bottom: 0;
    }
  }
  [id="block-dingo-views-block-top-pages-blocks-block-2"] {
    -ms-grid-column: 1;
    -ms-grid-column-span: 16;
    grid-column: 1 / 17;
    -ms-grid-row: 7;
    grid-row: 7;
    border-bottom: 1px solid $gray-lighter;
    @include large {
      -ms-grid-column: 7;
      -ms-grid-column-span: 4;
      grid-column: 7 / 11;
      -ms-grid-row: 5;
      grid-row: 5;
    }
    header {
      margin-bottom: 0;
    }
  }
  [id="block-frontservices"] {
    -ms-grid-column: 1;
    -ms-grid-column-span: 16;
    grid-column: 1 / 17;
    -ms-grid-row: 5;
    grid-row: 5;
    @include large {
      -ms-grid-row: 4;
      grid-row: 4;
    }
  }
}

.text-long {
  .section-gray {
    @extend .section-gray;
  }
  .section-gray-darker {
    @extend .section-gray-darker;
  }
}

.page-node-329 {
  .main {
    display: block;

    .layout--onecol {
      display: block;
    }
  }
}

.domain-oda.path-frontpage {
  .main,
  .dingo-layout,
  .layout--onecol {
    display: block;
  }

  .layout--onecol .layout__region--content {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;

    .news-banner--banner-created {
      margin-bottom: 1rem;
    }

    @include large {
      grid-template-columns:repeat( 16, minmax(20px, 1fr) );
    }
  }

  .layout-wrap .layout--onecol:nth-child(1) .layout__region--content {

    .block:first-child {
      grid-column: 1 / 1;
      @include large {
        grid-column: 1 / 12;
      }
    }

    .block:nth-child(2) {
      grid-column: 1 / 1;
      @include large {
        grid-column: 13 / 17;
      }
      ul {
        list-style: none;
        padding: 0;
        li {
          border-bottom: 1px solid $gray-lightest;
          margin-bottom: .35rem;
          padding-bottom: .5rem;
        }
      }
    }

    .block:nth-child(3) {
      grid-column: 1 / 1;
      @include large {
        grid-column: 1 / 17;
      }
      background: url('../images/oda_front_reports_bg.png') no-repeat center center;
      background-size: cover;
      padding: 2rem 0;
      .inner-content {
        background: rgba(207, 184, 124, 0.9);
        padding: 25px;
        width: 75%;
        border-radius: 5px;
        h2 {
          color: $black;
          border-bottom: 1px solid $black;
          span {
            border: none;
          }
        }
        a.button-black:before {
          @include data_secure_left;
        }
        a.button-black:hover:before {
          background-color: $black;
        }
      }
    }

    .block:nth-child(4) {
      grid-column: 1 / 1;
      @include large {
        grid-column: 1 / 17;
      }
    }

  }

  .layout-wrap .layout--onecol:nth-child(2) .layout__region--content {
    margin-top: 1rem;

    .block:not(.contextual-region):has(a):nth-child(3n-2) {
      grid-column: 1 / 1;
      @include large {
        grid-column: 1 / 5;
      }
    }

    .block:not(.contextual-region):has(a):nth-child(3n-1) {
      grid-column: 1 / 1;
      @include large {
        grid-column: 6 / 11;
      }
    }

    .block:not(.contextual-region):has(a):nth-child(3n) {
      grid-column: 1 / 1;
      @include large {
        grid-column: 12 / 17;
      }
    }

    .block {
      h2 {
        position: relative;
        font-size: 1rem;
        text-transform: uppercase;
        text-align: center;
        border: none;
        margin-bottom: .75rem;
        span {
          border: none;
        }
        a[href] {
          text-decoration: none;
          &:after {
            display:none;
          }
          &:hover {
            color: $graylight;
          }

        }
        &:before {
          display: block;
          content: "";
          height: 25px;
          width: 100%;
          margin-bottom: .5rem;
          background: url('../images/icons/oda_front_wwd_title.svg') no-repeat center center;
        }
        &:after {
          content: "";
          position: absolute;
          left: 42%;
          right: 42%;
          bottom: -.4rem;
          height: 1px;
          width: 16%;
          border-bottom:4px solid $gold;
        }
        &:hover:after {
          left: 38%;
          right: 38%;
          width: 24%;
        }
      }
    }
  }

}

.page-node-type-oda-page {
  .layout__region--content > div:has(picture) {
    margin-left: 0;
    margin-bottom: 1.5rem;
    @include large {
      margin-left: -100px;
    }
  }
}

.page-node-type-data-report {
  .flag a.button-internal {
    border: 1px solid $green;
  }

  .action-flag a {
    @include flag_favorite;
    &:hover::before {
      background-color: $white;
    }
  }

  .action-unflag a {
    @include flag_unfavorite;
    &:hover::before {
      background-color: $white;
    }
  }

  .layout__region--left-sidebar {
    img {
      border: 1px solid $gray-lightest;
      margin-bottom: 1rem;
    }
  }

  .layout__region--content {
    & > div:has(img) {
      border: 1px solid $gray-lightest;
      margin-bottom: 2rem;
    }

    .block:first-child a:before {
      @include data_secure_left;
    }
    .block:first-child a.vpn:before {
      --webkit-mask: url('../images/icons/oda_vpn.svg') 50% 50% no-repeat;
      mask: url('../images/icons/oda_vpn.svg') 50% 50% no-repeat;

    }

    .block:first-child,
    .block:nth-child(2) {
      display: inline-block;
      margin-right: 1rem;
      svg {
        display: none;
      }
    }

    .block:nth-child(3) {
      margin-top: 1rem;
    }

  }

}
