.mm-slideout:has(aside.open) .off-canvas-wrapper {
  transition: all 1s;
  background: $gray-dark;
  opacity: .3;
  display: block;
  position: fixed;
  top: 0;
  left: 0%;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.path-reports {

  div {
    .collapsiblockTitle button {
      position: relative;
      background: none;
      &::after {
        position: absolute;
        top: 5px;
        right: 10px;
        content: "";
        background: top right url("../images/tojibbers-bl.svg") no-repeat;
        background-size: 15px 15px;
        height: 15px;
        width: 15px;
        transition: transform .5s;
        @include reduced-motion {
          transition: none;
        }
      }
    }
    .collapsiblockTitleCollapsed button::after {
      transform: rotate(180deg);
    }
  }

  main {

    .row-wrapper {
      display: grid;
      grid-gap: 0;
      grid-template-columns: repeat(1, 1fr);

      .views-row {
        border: 1px solid $gray-light;
        &:not(:last-child) {
          border-bottom: none;
        }
      }
    }

    @include large {
      .row-wrapper.two-column {
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(2, 1fr);

        &:has(.no-results) {
          grid-template-columns: 1fr;
        }

        .no-results {
          text-align: center;
        }

        .views-row {
          border-bottom: 1px solid $gray-light;
        }
      }
    }

    .data-report {
      margin: 1rem;
    }

    .data-report-top {
      display: flex;
      margin-bottom: 1rem;
      //justify-content: space-between;

      h2 {
        border: none;
        margin: 0;
        line-height: 1.5rem;

        a {
          font-size: 1.3rem;
          color: $blue;
          text-decoration: none;

          &[href]:after {
            display: none;
          }
        }
      }

      .info {
        margin-top: auto;
      }

      .revision {
        &:before {
          content: '';
          display: inline-block;
          height: 20px;
          width: 20px;
          background-image: url('../images/icons/oda_calendar.svg');
          background-repeat: no-repeat;
          background-size: contain;
          margin-bottom: -5px;
        }
      }
      .revision,
      .type {
        color: $gray-light;
      }

      .image {
        img {
          border: 1px solid $gray-light;
        }
        margin-right: 1rem;
        div {
          width: 120px;
        }
      }
    }
  }

  aside {
    background: $white;
    &.open {
      display: block;
      position: fixed;
      padding: 1rem;
      width: 100%;
      margin: 0;
      padding: 0;

      & > div {
        padding: 1em;
      }

      .views-exposed-form {
        position: sticky;
        width: fit-content;
        top: 0;
        z-index: 1;
        background: $white;
        padding-top: 1rem;
      }

      @include medium {
        width: 50%;
      }

    }

    button.close-filter {
      display: block;
      position: absolute;
      right: 0;

      @include large {
        display: none;
      }
    }

    @include large {
      display: block;
    }
    h2 {
      font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
      border: none;
      font-size: 1.2rem;
      font-weight: normal;
      text-transform: uppercase;

      span {
        border: none;
      }
    }

    ul {
      margin: 0;
    }

    li {
      margin: .25rem 0;
    }
  }

  .views-exposed-form {
    h2 {
      @include filter-icon;
    }
  }

  [id='block-pup-odadataandreportsclearfilters'],
  [id='block-pup-odadataandreportsfavorites'],
  [id='block-pup-odadataandreportsexportlink'] {
    border-top: 1px solid $gray-light;
    border-bottom: 1px solid $gray-light;
    padding: .5rem 0;

    p {
      text-align: center;
      margin: 0;
      padding: 0;
    }
  }

  [id='block-pup-odadataandreportsfavorites'],
  [id='block-pup-odadataandreportsexportlink'] {
    border-bottom: none;
  }

  .block-facet--checkbox {
    border-bottom: 1px solid $gray-light;
    padding: .5rem 1rem;
  }

  .views-element-container {
    header {
      display: flex;
      position: relative;
      border: 1px solid $gray-light;
      margin-bottom: 3rem;
      padding: 0 1rem;
      min-height: 70px;

      button {
        color: $gray-darker;
        background: $white;
        border: 1px solid $gray-light;
        font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 1.2rem;
        font-weight: normal;
        margin: .75em 0;
        &:after {
          content: '';
          display: inline-block;
          height: 20px;
          width: 20px;
          background-image: url('../images/icons/oda_filter_by.svg');
          background-repeat: no-repeat;
          background-size: contain;
          margin-bottom: -5px;
          margin-left: .5em;
        }

        @include large {
          display: none;
        }
      }

      details {
        position: absolute;
        background: $white;
        border: none;
        top: 15px;
        right: 1em;
        padding: 0;
        margin: 0;

        @include large {
          right: initial;
        }

        ul {
          margin: 0;
          padding: 0;
          list-style: none;
          border: 1px solid $gray-light;

          li {
            padding: 0;
          }

          a {
            display: block;
            padding: .5rem 1rem;
          }
        }

        summary {
          h3 {
            display: inline-block;
            font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 1.2rem;
            font-weight: normal;
            text-transform: uppercase;
            margin: 0
          }
          &:after {
            display: inline-block;
            position: initial;
            margin-left: .5em;
          }
          font-weight: normal;
          border: 1px solid $gray-light;
          padding: .5rem;
          margin: 0;
          background: $white;
          border-radius: 5px;
        }
      }

      .view-summary {
        position: absolute;
        top: 80px;
        left: 0;
      }

      .layout {
        margin-left: auto;
        display: none;

        @include large {
          display: block;
        }

        dl {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }

        dd {
          margin: .25rem;
          svg {
            cursor: pointer;

            use {
              fill: $gray-light;
            }
          }

          &.active svg {
            cursor: default;

            use {
              fill: $gray-darker;
            }
          }
        }
      }

    }
  }

  ul.js-pager__items {
    display: flex;
    gap: .5rem;
    align-items: center;
    justify-content: center;
  }

  a[rel="prev"],
  a[rel="next"] {
    font-size: 2em;
    line-height: 0;
    font-weight: normal;
    text-decoration: none;
  }
}

@media screen and (max-width: 920px){
  .path-reports aside {
    position: absolute;
    margin-left: -50%;
    transition: all 1s;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 100;
    overflow-y: auto;
  }
}
@media screen and (max-width: 720px){
  .path-reports aside {
    margin-left: -100%;
  }
}
