// Search box on search page.
.main-content #search-form  {
  .form-item {
    display: inline-block;
    width: min-content;
  }
  [value="Search"] {
    background-position-y: 10px;
    height: 30px;
  }
}
